* {
	font-family: Poppins, sans-serif;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-image: linear-gradient(260deg, #6a9eec, #65c0d3);
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.container {
	background-color: white;
	padding: 5rem;
	border-radius: 2rem;
}

.home,
.notifications,
.messages {
	display: flex;
	padding: 2rem;
	gap: 2rem;
	align-items: center;
	font-size: 16px;
	cursor: pointer;
}
